@page
@model DamiensCookieJar.Pages.Cart

@{
    ViewData["Title"] = "Order Page";
}


<div>
    <h1>CART</h1>
    @if(Model.cartRows != null){
        @foreach (var row in Model.cartRows)
        {
        string formatted = row.rowPrice.ToString("0.00");
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@row.rowName</h5>
                <h6 class="card-body">subtotal: @formatted</h6>
                <h6 class="card-body">quantity ordered: @row.rowQuantity</h6>
            </div>
        </div>
        }
        string totalFormatted = Model.CartTotal.ToString("0.00");
    <div class="bg-primary">
    <h1 class="btn btn-primary btn-block">ORDER TOTAL: @totalFormatted</h1>
    </div>
        <form method="post">
            <input type="hidden" id="shouldSubmit" asp-for="submit" value="checkout"/>
            <button type="submit" class="btn btn-primary btn-block">Checkout</button>
        </form>
        <form method="post">
            <input type="hidden" id="shouldSubmit" asp-for="submit" value="cancel"/>
            <button type="submit" class="btn btn-primary btn-block">Cancel Order</button>
        </form>
    }
    else
    {
        <h1>YOU CURRENTLY HAVE NO ACTIVE ORDERS</h1>
        <h1>click  <a class="nav-link text-dark" asp-area="" asp-page="/Ordering/Order">here</a> to order</h1>
    }
    
</div>