@page
@model Checkout
@{
    ViewData["Title"] = "Checkout";
}
<head>
    <title>Checkout</title>
    <style>
        body 
        {
            margin: 0;
            padding: 0;
        }

        main 
        {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
        }

        form 
        {
            display: flex;
            flex-direction: column;
        }

        label 
        {
            margin-bottom: 8px;
        }

        input, select 
        {
            margin-bottom: 16px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <header>
        <h1>Checkout Page</h1>
    </header>

    <main>
        <form method="post">
            <label asp-for="info.fname">First Name:</label>
            <input type="text" asp-for="info.fname">

            <label asp-for="info.lname">Last Name:</label>
            <input type="text" asp-for="info.lname"/>
            
            <label asp-for="info.street">Street:</label>
            <input type="text" asp-for="info.street"/>
            
            <label asp-for="info.aptnum">Apt: (optional)</label>
            <input type="text" asp-for="info.aptnum"/>
            
            <label asp-for="info.city">City:</label>
             <input type="text" asp-for="info.city"/>
            
            <label asp-for="info.state">State:</label>
             <input type="text" asp-for="info.state"/>
            
            <label asp-for="info.zip">Zip Code:</label>
            <input type="text" asp-for="info.zip"/>

            <label for="paymentMethod">Payment Method:</label>
            <select id="paymentMethod" name="paymentMethod" required>
                <option value="payPal">PayPal</option>
                <option value="creditCard">Apple/Google Pay</option>
            </select>

            <button type="submit">Place Order</button>
        </form>
    </main>

</body>

