@page
@model AboutUs
@{
    ViewData["Title"] = "About Us";
}

<div>
    <h1>
        <div style="text-align: center; font-family: 'Courier New', monospace; font-size: larger;"> ABOUT US </div>
    </h1>
    <div>
        <p><div style="text-align: center; margin: 0 auto; max-width: 800px;">
            <br> At <strong>Damien’s Sweet Jar,</strong> we believe in the simple joy that comes from indulging in delicious, 
            freshly baked cookies. Our passion for crafting irresistible treats led us to create a haven for cookie enthusiasts,
            where the aroma of sweet goodness fills the air, and every bite is a moment of pure bliss. <br><br> <strong>Our Story:</strong> 
            Founded with a sprinkle of creativity and a dash of love, Damien’s Sweet Jar started as an idea between college
            students who wanted a more conventional way to order customizable sweets. With the mission to spread happiness 
            one cookie at a time, our local passion project soon evolved into a full-fledged cookie delivery service, 
            connecting cookie lovers with the finest handcrafted delights. <br><br> <strong>Crafting Happiness:</strong> At Damien’s Sweet Jar, 
            we take the art of cookie-making seriously. Our skilled bakers meticulously select the finest ingredients, 
            ensuring each batch is a masterpiece of flavor and texture. From classic chocolate chip to exotic flavor 
            combinations, our cookies are crafted with precision and passion to deliver an unparalleled taste experience
        </div>
    </div>
    <div style="display: flex; justify-content: space-around; padding-top: 20px;">
        <img src="https://www.melskitchencafe.com/wp-content/uploads/2014/05/ww-coconut-cookies-on-tray-600x400.jpg" 
             width="350" height="200" style="border: 2px solid #808080; border-radius: 5px;">

		<img src="https://olympusmascots.com/wp-content/uploads/sites/2/2022/07/Mascot-Damian_Great_Dane_University_Albany-DONE.jpg" 
             width="250" height="200" style="border: 2px solid #808080; border-radius: 5px;">
        
        <img src="https://nationaltoday.com/wp-content/uploads/2020/12/Bake-Cookies-Day-1-1200x834.jpg"
             width="350" height="200" style="border: 2px solid #808080; border-radius: 5px;">
    </div>
</div>
