@page
@model FindADamiens
@{
    ViewData["Title"] = "Find A Damien";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
            max-width: 800px;
        }

        #map {
            height: 300px;
            width: 100%;
            border: 3px solid #808080; /* Add a border around the map */
            border-radius: 5px;
            cursor: pointer; /* Add cursor pointer for better UX */
        }

        #map.enlarged {
            height: 500px; /* Set the enlarged height */
            transition: height 0.3s; /* Add a smooth transition effect */
        }

        #sidebar {
            background-color: #f8f9fa;
            padding: 10px;
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }

        .location-link {
            text-decoration: none;
            color: #007bff;
        }

        .location-link:hover {
            text-decoration: underline;
        }

        .filling-circle {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #ccc;
        }
    </style>
</head>

<body class="bg-light">

    <div class="container mt-5">
        <div class="row">
            <div class="text">
                <h2 class="text-center mb-4">@ViewData["Title"]</h2>

                <div class="form-group">
                    <label for="addressInput">Enter Address:</label>
                    <div class="input-group">
                        <input type="text" id="addressInput" class="form-control" />
                        <div class="input-group-append">
                            <button onclick="findLocation()" class="btn btn-primary">Find Location</button>
                        </div>
                    </div>
                </div>

                <img src="https://cdn.discordapp.com/attachments/959544844311756821/1181014008313151570/Find_a_Damiens.png?ex=657f8401&is=656d0f01&hm=2206ee1e9811bc437dc716ca2a280b49dff9ed2eb30cab91e5277112cd22e7f1&" alt="UAlbany Map" id="map"
                    class="mt-4 img-fluid" onclick="enlargeMap()">
            </div>

            <div class="col-md-4">
                <div id="sidebar">
                    <h4>Damien Locations!</h4>
                    <ul class="list-unstyled">
                        <li><span class="filling-circle" id="circle1"></span><a href="#" onclick="locationClicked('Bakery Kitchen')">Bakery Kitchen </a></li>
                        <li><span class="filling-circle" id="circle2"></span><a href="#" onclick="locationClicked('Dubious Kitchen')">Dubious Kitchen </a></li>
                        <li><span class="filling-circle" id="circle3"></span><a href="#" onclick="locationClicked('Bloody Mary Bakery')">Bloody Mary Bakery </a></li>
                        <li><span class="filling-circle" id="circle4"></span><a href="#" onclick="locationClicked('Rodeo Kitchen')">Rodeo Kitchen </a></li>
                        <li><span class="filling-circle" id="circle5"></span><a href="#" onclick="locationClicked('Organic Kitchen')">Organic Kitchen </a></li>
                        <!-- Add more locations as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="~/js/findadamiens.js"></script>



</body>

</html>
