@page
@model Nutrition
@{
    ViewData["Title"] = "Nutrition Page";
}
<body>
<h1>
    <div style="text-align: center;" >NUTRITION FACTS</div></h1>
</body>

<div>
    <!-- Top right Picture -->
    <br> <img src="https://www.allrecipes.com/thmb/56zE_h2uSB4JfSIr7XS3MUPFDWY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/10813-best-chocolate-chip-cookies-mfs-step-1-1121-d465078f5a5144718d72ed05d2422e23.jpg" width="325" height="225" style="position: fixed; left: 995px" alt="">
</div>
<div>
    <!-- Top left Picture -->
     <img src="https://thebigmansworld.com/wp-content/uploads/2021/08/3-ingredient-chocolate-chip-cookies-4.jpeg" width="325" height="225" style="position: fixed; left: 95px" alt="">
</div>
<div>
    <!-- Bottom left Picture -->
    <img src="https://www.mightymrs.com/wp-content/uploads/secret-ingredient-soft-cookies1.jpg" width="325" height="225" style="position: fixed; left:95px; bottom:90px" alt="">
</div>
<div>
    <!-- Bottom right Picture -->
     <img src="https://sugargeekshow.com/wp-content/uploads/2021/11/viral_copycat_crumbl_cookie_recipe_featured.jpg" width="325" height="225" style="position: fixed; left: 995px; bottom: 90px" alt="">
</div>

<p><div style="font-size: 120%; text-align: center;">
     
    <strong>Ingredients:</strong><br>Butter, Granulated sugar, <br/>Brown sugar, Eggs, Vanilla extract,<br/> All-purpose flour, Baking soda, <br/>Salt, Chocolate chips (milk chocolate)<br/>
 
</div>

<div>
    <br>
    <p>
    <div style="font-size: 90%; text-align: center;">
        <strong>Serving Size: </strong> 1 Cookie (57g)
        <br>
        <strong>Amount Per Serving </strong>
        <br>
        <strong>Calories: </strong> 260
        <br>
        <strong>Total Fat: </strong> 12g
        <br>
        <strong>Saturated Fat: </strong> 6g
        <br>
        <strong>Trans Fat: </strong> 0g
        <br>
        <strong>Cholesterol Fat: </strong> 10mg
        <br>
        <strong>Sodium: </strong> 180mg
        <br>
        <strong>Total Carbohydrate: </strong> 35g
        <br>
        <strong>Dietary Fiber: </strong> 1g
        <br>
        <strong>Total Sugars: </strong> 21g
        <br>
        <strong>Protein: </strong> 2g
        <br>
        2000 calories a day is used for general nutrition advice. <br/>
    </div>
</div>
