@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body>
<h1>
    <div style="text-align: center;" >Privacy Policy</div></h1>
</body>

<div>
    <br>
    <p>
    <div style="font-size: 160%; text-align: center;">
        Thank you for choosing Damiens Cookie Jar 
        <br/>
        This Privacy Policy outlines how we collect and use your personal information when you use our services. 
        <br>
        By signing up, you agree to the terms below
        

    </div>
</div>  


<br/>
<div style="font-size: 150%; text-align: left">
    <strong> </strong>
</div>
<div>
    <div style="font-size: 120%; text-align: left;">
        We collect the following information, your name, email address, home address, and phone number. 
        We use this information for order processing, communication regarding your orders, and to enhance our customer service.
        <br/>
        <br/>
        We prioritize the privacy of our customers. We do not sell, trade, and/or share your personal information 
        with third parties. All the data collected is used exclusively for the benefit of 
        improving our services, and understanding our customers preferences.
        <br>
        </br>
        If you have any questions, or concerns related to your privacy or this policy,
        please reach out to us at Daminescookiejar@albany.edu 
        <br>
        <br/>
        By using our services, you acknowledge that you have read and understood this Privacy Policy 
        and agree to these terms. Thank you for trusting Damines Cookie Jar with your information.
    </div>
</div>  
